*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.contentarea{
    background: #131a43;
    display: flex;
    width: 100;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#video , #photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 420px;
    height: 320px;
  }
  #canvas {
    display: none;
  }  
.camera {
    display: inline-block;
  }
  .output {
    width: 340px;
    display: inline-block;
    vertical-align: top;
  }
  
  #startbutton {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    background-color: rgb(0 150 0 / 50%);
    border: 1px solid rgb(255 255 255 / 70%);
    box-shadow: 0px 0px 1px 2px rgb(0 0 0 / 20%);
    font-size: 14px;
    font-family: "Lucida Grande", "Arial", sans-serif;
    color: rgb(255 255 255 / 100%);
  }
  .none{
    display: none;
  }